body {
	font-family: "Roboto", sans-serif;
	padding: 25px 30px;
	width: 100vw;
}

.paragraph {
	font-size: 24px;
	word-break: break-word;
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}

canvas {
	width: 100%;
}

.page_top {
    width: 10vw;
    margin-left: 0;
    background: #BC4036;
    height: 80px;
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
